<html>
<body>
    <div class="login">
       <h1>Housing Prices Indicator</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>House Pricing Prediction</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label">Gender</label>
            <select class="form-control" name="City" placeholder="Enter you City" required>
                <option class="placeholder" selected disabled value="">Select your City</option>
                <option value="Hyderabad">
                    Hyderabad
                </option>
                <option value="Delhi">
                    Delhi
                </option>
                <option value="Kolkata">
                    Kolkata
                </option>
                <option value="Chennai">
                    Chennai
                </option>
                <option value="Mumbai">
                    Mumbai
                </option>
                <option value="Bangalore">
                    Bangalore
                </option>
            </select>
        </div>
        
        <div class="mb-3">
            <label class="form-label">MaintenanceStaff</label>
            <select class="form-control" name="MaintenanceStaff"
                placeholder="Enter MaintenanceStaff" required>
                <option class="placeholder" selected disabled value="">Select MaintenanceStaff choice</option>
                <option value="0">
                    Zero
                </option>
                <option value="1">
                    One
                </option>
                <option value="9">
                    Unknown
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">SwimmingPool</label>
            <select class="form-control" name="SwimmingPool"
                placeholder="Enter SwimmingPool" required>
                <option class="placeholder" selected disabled value="">Select SwimmingPool choice</option>
                <option value="0">
                    Zero
                </option>
                <option value="1">
                    One
                </option>
                <option value="9">
                    Unknown
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">ClubHouse</label>
            <select class="form-control" name="ClubHouse"
                placeholder="Enter ClubHouse" required>
                <option class="placeholder" selected disabled value="">Select ClubHouse choice</option>
                <option value="0">
                    Zero
                </option>
                <option value="1">
                    One
                </option>
                <option value="9">
                    Unknown
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">24X7Security</label>
            <select class="form-control" name="24X7Security"
                placeholder="Enter 24X7Security" required>
                <option class="placeholder" selected disabled value="">Select 24X7Security choice</option>
                <option value="0">
                    Zero
                </option>
                <option value="1">
                    One
                </option>
                <option value="9">
                    Unknown
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">CarParking</label>
            <select class="form-control" name="CarParking"
                placeholder="Enter CarParking" required>
                <option class="placeholder" selected disabled value="">Select CarParking choice</option>
                <option value="0">
                    Zero
                </option>
                <option value="1">
                    One
                </option>
                <option value="9">
                    Unknown
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Children'splayarea</label>
            <select class="form-control" name="Children'splayarea"
                placeholder="Enter Children'splayarea" required>
                <option class="placeholder" selected disabled value="">Select Children'splayarea choice</option>
                <option value="0">
                    Zero
                </option>
                <option value="1">
                    One
                </option>
                <option value="9">
                    Unknown
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">LiftAvailable</label>
            <select class="form-control" name="LiftAvailable"
                placeholder="Enter LiftAvailable" required>
                <option class="placeholder" selected disabled value="">Select LiftAvailable choice</option>
                <option value="0">
                    Zero
                </option>
                <option value="1">
                    One
                </option>
                <option value="9">
                    Unknown
                </option>
            </select>
        </div>
        
        <div class="mb-3">
            <label class="form-label">No of Bedrooms</label>
            <input class="form-control" type="number" name="No of Bedrooms"
                placeholder="Enter No of Bedrooms" min='1' max='9' />
        </div>
        <div class="mb-3">
            <label class="form-label">Area</label>
            <input class="form-control" type="number" name="Area"
                placeholder="Enter your Area im sq.mt" min='200' max='16000' />
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict your Maths Score" required />
        </div>
    </form>
    <h2>
       THE  Price prediction is {{results}}
    </h2>
   <body>
</html>